<html>
<pre>
version 12.4
no service password-encryption
!
crypto ipsec df-bit copy
crypto isakmp identity dn
crypto isakmp fragmentation
crypto isakmp security-association lifetime delta 50
crypto isakmp initiator-sessions-max 100
crypto isakmp responder-sessions-max 100
crypto isakmp keepalive 3
crypto isakmp keepalive retry-count 5
username cscons privilege 15 secret 5 $6$tHtq8SR6$t3CWE6udI6L/ARr9jQowUYR7wEbOW
Zlx61OvLi7goonOFUYhNSGV49BA.RDGEZ7oKXBA1aTRi20ElR4wtMXTl0
aaa new-model
!
!
hostname Hub1-n1
enable secret 5 PC9d7N5HlAyLrzuA3qRJvQ==
!
!
!
!
!
!
!
crypto isakmp policy 1
 encr gost
 hash gost341112-256-tc26
 authentication gost-sig
 group vko2
!
crypto ipsec transform-set GOST_ENCRYPT_AND_INTEGRITY esp-gost28147-4m-imit
!
ip access-list extended IPSEC_ACl_HUB1_AND_SPOKE1{% for port in ports %}
  permit udp {{ src_net_addr }} 0.0.0.255 eq {{ port }} {{ dst_net }} 0.0.0.255 eq {{ port }} {% endfor %}

!
!
crypto map VPN 1 ipsec-isakmp
 match address IPSEC_ACl_HUB1_AND_SPOKE1
 set transform-set GOST_ENCRYPT_AND_INTEGRITY
 set peer {{ peer }}
 set dead-connection history off
!
interface GigabitEthernet0/0
 ip address 172.16.100.10 255.255.255.0
 crypto map VPN

!
interface GigabitEthernet0/1
 ip address 192.168.100.10 255.255.255.0


end
</pre>
</html>
